# Article Scrapping

In [16]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
#check is chromedriver is installed
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Visit the Quote to Scrape site
url = 'http://quotes.toscrape.com/'
browser.visit(url)

In [4]:
#Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [5]:
#Scrape the Title
title = html_soup.find('h2').text
title

'Top Ten tags'

In [6]:
# Scrape the top ten tags
tag_box = html_soup.find('div', class_='tags-box')
# tag_box
tags = tag_box.find_all('a', class_='tag')

for tag in tags:
    word = tag.text
    print(word)

love
inspirational
life
humor
books
reading
friendship
friends
truth
simile

In [7]:
url = 'http://quotes.toscrape.com/'
browser.visit(url)

In [8]:
for x in range(1,6):
    html = browser.html
    quote_soup = soup(html, 'html.parser')
    quotes = quote_soup.find_all('span', class_='text')
    for quote in quotes:
        print('page', x, '----------')
        print(quote.text)
    browser.links.find_by_partial_text('Next')

page 1 ----------
“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
page 1 ----------
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
page 1 ----------
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
page 1 ----------
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
page 1 ----------
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
page 1 ----------
“Try not to become a man of success. Rather become a man of value.”
page 1 ----------
“It is better to be hated for what you are than to be loved for what you are not.”
page 1 ----------
“I have not failed. I've just found 10,000 ways that won't work.”
page 1 ----------
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
page 1 ----------
“A day without sunshine is like, you know, night.”
page 2 ----------
“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
page 2 ----------
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
page 2 ----------
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
page 2 ----------
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
page 2 ----------
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
page 2 ----------
“Try not to become a man of success. Rather become a man of value.”
page 2 ----------
“It is better to be hated for what you are than to be loved for what you are not.”
page 2 ----------
“I have not failed. I've just found 10,000 ways that won't work.”
page 2 ----------
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
page 2 ----------
“A day without sunshine is like, you know, night.”
page 3 ----------
“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
page 3 ----------
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
page 3 ----------
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
page 3 ----------
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
page 3 ----------
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
page 3 ----------
“Try not to become a man of success. Rather become a man of value.”
page 3 ----------
“It is better to be hated for what you are than to be loved for what you are not.”
page 3 ----------
“I have not failed. I've just found 10,000 ways that won't work.”
page 3 ----------
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
page 3 ----------
“A day without sunshine is like, you know, night.”
page 4 ----------
“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
page 4 ----------
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
page 4 ----------
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
page 4 ----------
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
page 4 ----------
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
page 4 ----------
“Try not to become a man of success. Rather become a man of value.”
page 4 ----------
“It is better to be hated for what you are than to be loved for what you are not.”
page 4 ----------
“I have not failed. I've just found 10,000 ways that won't work.”
page 4 ----------
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
page 4 ----------
“A day without sunshine is like, you know, night.”
page 5 ----------
“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
page 5 ----------
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
page 5 ----------
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
page 5 ----------
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
page 5 ----------
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
page 5 ----------
“Try not to become a man of success. Rather become a man of value.”
page 5 ----------
“It is better to be hated for what you are than to be loved for what you are not.”
page 5 ----------
“I have not failed. I've just found 10,000 ways that won't work.”
page 5 ----------
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
page 5 ----------
“A day without sunshine is like, you know, night.”

# Bookstore scrapping practice - module 10.3.3

In [9]:
#practice by scraping the book url
url = 'http://books.toscrape.com/'
browser.visit(url)

In [10]:
html = browser.html
book_soup = soup(html, 'html.parser')
# Scrape the top ten tags
book_list = book_soup.find_all('article', {'class':'product_pod'})    

#for book in book_list:

    #book = book_list.div.a.img["alt"]

    #print(book)

# Vist the NASA mars News site: Image Scrapping - module 10.3.4

In [11]:
#visit url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [12]:
# Find and click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [13]:
#Find the more info button and click
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [14]:
#Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')
#Find the relative image url
img_url_rel = img_soup.select_one('figure.lede a img').get('src')
img_url_rel

'/spaceimages/images/largesize/PIA14106_hires.jpg'

In [15]:
#Use the base url to create an absolute url
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14106_hires.jpg'

# Facts table scrapping

In [17]:
df = pd.read_html('https://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
browser.quit()